<!-- <div class="wrapper position-absolute" style="height: 100%; width: 100%;">
        <div class="section-shaped my-0 skew-separator skew-mini">
            <div class="page-header page-header-small header-filter">
                <div class="page-header-image"
                    style="background-image: url('assets/img/pages/georgie.jpg');">
                </div>
            </div>

            <div class="footer_bottom">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <p class="mb-0 f_400 my-footer-font text-right">Copyright © 2023 Designed by TRITUXgrp
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 text-right">
                      <ul class="f_menu">
                        <li>
                          <a class="my-li my-footer-font" target="_blank" href="https://pyjamahr.com/privacyPolicy.html">Privacy Policy</a>
                        </li>
                        <li>
                          <a class="my-li my-footer-font" target="_blank" href="https://pyjamahr.com/termsAndConditions.html">Terms &amp; Conditions</a>
                        </li>
                      </ul>
                    </div>
                    
                  </div>
                </div>
            </div>
              

        </div>
</div>
      
      <footer class="footer_area f_bg position-relative" style="z-index: 1;margin-top: 40px;">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="f_widget company_widget fadeInLeft col-lg-8">
                  <a href="#" class="f-logo">
                    <img src="assets/img/icons/common/tritux.svg"  style="height: 30%; width: 20%;" alt="logo">
                  </a>
                  <p class="my-footer-font">
                    TRITUXgrp ATS is an applicant tracking system (ATS) &amp; a
                    recruitment software. It transforms your recruitment process
                    by reducing the effort &amp; time taken for each task in the
                    hiring lifecycle.
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="f_widget about-widget pl_70 fadeInLeft">
                  <h2 class="f-title f_600 t_color c-font-heading mb_40">About Us</h2>
                  <ul class="list-unstyled f_list hover-dark hover-underline-dark">
                    <li><a class="my-btn" href="#">Home</a></li>
                    <li><a class="my-btn" href="#features">Features</a></li>
                    <li><a class="my-btn" target="_blank" href="https://helpcenter.pyjamahr.com/">Help Center</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="f_widget about-widget pl_20 fadeInLeft">
                  <h2 class="f-title f_600 t_color c-font-heading mb_40">Contact Us</h2>
                  <ul class="list-unstyled f_list hover-dark hover-no-underline">
                    <li id="contact-us">
                      <div class="social-icons-wrapper">
                        <ul class="social-icons">
                          <li>
                            <a href="#">
                              <span class="btn-inner--icon">
                                <img src="assets/img/icons/common/linkedin.svg" alt="LinkedIn">
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="btn-inner--icon">
                                <img src="assets/img/icons/common/facebook.svg" alt="Facebook">
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="btn-inner--icon">
                                <img src="assets/img/icons/common/twitter.svg" alt="Twitter">
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>

                    <hr class="my-line">
    
                    <li class="my-li">
                      Email:
                      <a class="text-dark" href="#" target="_blank">info@tritux.com"</a>
                    </li>
                    <li class="my-li">
                      Phone:
                      <a class="text-dark" href="tel:08069459177">55 999 220</a>
                     </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
</footer>
-->


<footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center mb-5">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">
          Thank you for supporting us!
        </h3>
        <h4 class="mb-0 font-weight-light">
          Let's get in touch on any of these platforms.
        </h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <button
          class="btn btn-icon-only btn-twitter rounded-circle mr-3"
          href="https://twitter.com/creativetim"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i class="fab fa-twitter"> </i>
          </span>
        </button>
        <button
          class="btn-icon-only rounded-circle btn btn-facebook mr-3"
          href="https://www.facebook.com/CreativeTim/"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i class="fab fa-facebook"> </i>
          </span>
        </button>
        <button
          class="btn btn-icon-only btn-dribbble rounded-circle mr-3"
          href="https://dribbble.com/creativetim"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i class="fab fa-dribbble"> </i>
          </span>
        </button>
        <button
          class="btn btn-icon-only btn-github rounded-circle"
          href="https://github.com/creativetimofficial"
          target="_blank"
        >
          <span class="btn-inner--icon"> <i class="fab fa-github"> </i> </span>
        </button>
      </div>
    </div>
    <hr />

    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          © {{ date | date: "yyyy" }}
          <a href="" target="_blank"> TRITUXgrp </a> .
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="" target="_blank"> TRITUX grp </a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-btn" href="" target="_blank"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-btn" href="" target="_blank"> Jobs </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link my-btn"
              href="https://blog.creative-tim.com/"
              target="_blank"
            >
              Blog
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>





  