<app-banner
  [title]="bannerTitle"
  [subtitle]="bannerSubtitle"
></app-banner>
<body>  
    <main>
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                    <div class="small-section-tittle2 mb-45">
                                    <div class="ion"> <svg 
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="20px" height="12px">
                                    <path fill-rule="evenodd"  fill="rgb(27, 207, 107)"
                                        d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                                    </svg>
                                    </div>
                                    <h4>Filter Jobs</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <div class="job-category-listing mb-50">
                            <!-- single one -->
                            <div class="single-listing">
                               <div class="small-section-tittle2">
                                     <h4>Job Department</h4>
                               </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select name="select" [(ngModel)]="filterDepartment" (change)="searchJobs()">
                                        <option value="">All Category</option>
                                        <option value="RH Department">RH Department</option>
                                        <option value="Technical Department">Technical Department</option>
                                        <option value="Financil Department">Financil Department</option>
                                        <option value="Admin Department">Admin Department</option>
                                    </select>
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                    <h4>Job Type</h4>
                                    </div>
                                    <label class="container">Full Time
                                        <input type="checkbox" [checked]="filterType.includes(JobTypeEnum.FULL_TIME)" (change)="toggleType(JobTypeEnum.FULL_TIME)">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Part Time
                                        <input type="checkbox" [checked]="filterType.includes(JobTypeEnum.PART_TIME)" (change)="toggleType(JobTypeEnum.PART_TIME)">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Remote
                                        <input type="checkbox" [checked]="filterType.includes(JobTypeEnum.REMOTE)" (change)="toggleType(JobTypeEnum.REMOTE)">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">Freelance
                                        <input type="checkbox" [checked]="filterType.includes(JobTypeEnum.FREELANCE)" (change)="toggleType(JobTypeEnum.FREELANCE)">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <!-- select-Categories End -->
                            </div>
                            <!-- single two -->
                            <div class="single-listing">
                               <div class="small-section-tittle2">
                                     <h4>Job Location</h4>
                               </div>
                                <!-- Select job items start -->
                                <div class="select-job-items2">
                                    <select name="select" [(ngModel)]="filterLocation" (change)="searchJobs()">
                                        <option value="">Anywhere</option>
                                        <option value="tunisia">Tunisia</option>
                                        <option value="outside">outside</option>
                                    </select>
                                </div>
                                <!--  Select job items End-->
                                <!-- select-Categories start -->
                                <div class="select-Categories pt-80 pb-50">
                                    <div class="small-section-tittle2">
                                      <h4>Experience</h4>
                                    </div>
                                    <label class="container">1-2 Years
                                        <input type="checkbox" [checked]="filterExperience.includes('1-2')" (change)="toggleExperience('1-2')">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container">2-3 Years
                                        <input type="checkbox" [checked]="filterExperience.includes('2-3')" (change)="toggleExperience('2-3')">
                                        <span class="checkmark"></span>
                                      </label>
                                      <label class="container">3-6 Years
                                        <input type="checkbox" [checked]="filterExperience.includes('3-6')" (change)="toggleExperience('3-6')">
                                        <span class="checkmark"></span>
                                      </label>
                                    <label class="container">6-more..
                                        <input type="checkbox" [checked]="filterExperience.includes('6-more')" (change)="toggleExperience('6-more')">
                                        <span class="checkmark"></span>
                                    </label>                                                                           
                                  </div>                                  
                                <!-- select-Categories End -->
                            </div>
                            <!-- single three -->
                           
                            <div class="single-listing">
                                <!-- Range Slider Start -->
                                <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                                    <div class="small-section-tittle2">
                                        <h4>Filter Jobs</h4>
                                    </div>
                                    <div class="widgets_inner">
                                        <div class="range_item">
                                            <!-- <div id="slider-range"></div> -->
                                            <input type="text" class="js-range-slider" value="" />
                                            <div class="d-flex align-items-center">
                                                <div class="price_text">
                                                    <p>Price :</p>
                                                </div>
                                                <div class="price_value d-flex justify-content-center">
                                                    <input type="text" class="js-input-from" id="amount" readonly />
                                                    <span>to</span>
                                                    <input type="text" class="js-input-to" id="amount" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                              <!-- Range Slider End -->
                            </div>
                        </div>
                        <div class="apply-btn2 d-flex justify-content-center">
                            <app-add-job-form></app-add-job-form>
                        </div>
                        <!-- Job Category Listing End -->
                    </div>
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">
                                <!-- Count of Job list Start -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="count-job mb-35">
                                            <span>{{ jobResults.length }} Jobs found</span>
                                            <!-- Select job items start -->
                                            <div class="select-job-items">
                                                <span>Sort by</span>
                                                <select name="select" #sortSelect (change)="sortBy(sortSelect.value)">
                                                  <option value="">None</option>
                                                  <option value="salary">Salary</option>
                                                  <option value="experience">Experience</option>
                                                </select>
                                            </div>                                                                                         
                                            <!--  Select job items End-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Count of Job list End -->
                                <div class="single-job-items mb-30" *ngFor="let job of jobResults | slice: (currentPage - 1) * 5 : currentPage * 5; let i = index">
                                    <div class="row">
                                      <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                        <div class="company-img">
                                          <a [routerLink]="['/job-detail', job.id]">
                                            <img [src]="" alt="">
                                          </a>
                                        </div>
                                      </div>
                                      <div class="col-lg-7 col-md-6 col-sm-8 col-8">
                                        <div class="job-tittle job-tittle2">
                                          <a [routerLink]="['/job-detail', job.id]">
                                            <h4>{{job?.jobTitle}}</h4>
                                          </a>
                                          <ul>
                                            <li>{{job?.department}}</li>
                                            <li><i class="fas fa-map-marker-alt"></i>{{job?.location}}</li>
                                            <li>{{job?.salary}}</li>
                                          </ul>
                                        </div>
                                      </div>
                                      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="items-link items-link2 text-right">
                                          <a [routerLink]="['/job-dashboard']">Hiring Flow</a>
                                          <span>7 hours ago</span>    
                                        </div>
                                      </div>
                                    </div>
                                </div>                                                                                    
                            </div>
                        </section>
                        <!-- Featured_job_end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Job List Area End -->
        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">
            <div class="container">    
                    <nav aria-label="...">
                        <ul class="pagination">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" href="javascript:void(0)" (click)="previousPage()">
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page">
                            <a class="page-link" href="javascript:void(0)" (click)="changePage(page)">{{ page }}</a>
                        </li>
                        <!-- Add more page items as needed based on the total number of jobs -->
                        <!-- Example: <li class="page-item" [class.active]="currentPage === 4">
                                    <a class="page-link" href="javascript:void(0)" (click)="changePage(4)">4</a>
                                    </li> -->
                        <li class="page-item" [class.active]="currentPage === ceil(totalJobs / 5)">
                            <a class="page-link" href="javascript:void(0)" (click)="nextPage()">
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>       
                        </ul>
                    </nav>
                    <div class="text-right">
                        <p>Showing {{ (currentPage - 1) * 5 + 1 }} - {{ MathMin(currentPage * 5, jobResults.length || 0) }} out of {{ jobResults.length || 0 }}</p>
                    </div> 
                    
            </div>
        </div>
        <!--Pagination End  -->
        
    </main>

    
</body>



    