<div class="container mt-5">
  <div class="col text-center">
    
  </div>  
  
  <div class="row align-items-center text-left">
    <div class="col-lg-5 col-12">
      <h1 class="display-3">
          Job Hiring,
        <span class="text-primary">
          The Best Applicant tracking System
        </span>
      </h1>
      <p class="lead pb-4">
          Manage applicants, post to job boards, schedule & conduct interviews
          and hire top talent - One tool to do it all.
      </p>
      <div class="row row-input">
        <div class="col-sm-8 col-12">
          <input
            aria-label="Your email"
            class="form-control"
            id="signupSrEmail"
            name="email"
            placeholder="Your email"
            type="email"
          />
        </div>
        <div class="col-sm-4 col-12 pl-lg-0">
          <button class="btn btn-primary btn-block" type="submit">
            More
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-12 pl-0">
      <img
        class="ml-lg-5"
        src="assets/img/ill/bg6-2.svg"
        width="100%"
      />
    </div>
  </div>
</div>

<div class="section features-2 mt-8 mb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-8 mr-auto text-left">
        <div class="pr-md-5">
          <div
            class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-5"
          >
            <i class="ni ni-favourite-28"> </i>
          </div>
          <h3>Awesome features</h3>
          <p>
            The kit comes with three pre-built pages to help you get
            started faster. You can change the text and images and
            you're good to go.
          </p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-settings-gear-65"> </i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Carefully crafted components</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-html5"> </i>
                  </div>
                </div>
                <div><h6 class="mb-0">Amazing page examples</h6></div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-satisfied"> </i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Super friendly support team</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 pl-md-0">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-info shadow">
              <div
                class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <i class="ni ni-satisfied text-info"> </i>
              </div>
              <h5 class="info-title text-white">Best Quality</h5>
              <p class="description">
                What matters is the people who are sparked by it. And
                the people who are like offended by it.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-danger info-raised shadow">
              <div
                class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <i class="ni ni-palette text-danger"> </i>
              </div>
              <h5 class="info-title text-white">Awesome Design</h5>
              <p class="description">
                Because it's about motivating the doers. Because I'm
                here to follow my dreams and inspire the world.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-default shadow">
              <div
                class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <i class="ni ni-spaceship text-default"> </i>
              </div>
              <h5 class="info-title text-white">Great Performance</h5>
              <p class="description">
                There's nothing I really wanted to do in life that I
                wasn't able to get good at. We're constantly growing.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-primary shadow">
              <div
                class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <i class="ni ni-planet text-primary"> </i>
              </div>
              <h5 class="info-title text-white">Fast Development</h5>
              <p class="description">
                I always felt like I could do anything. That's the main
                thing people are controlled by the force!
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-warning info-raised shadow">
              <div
                class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <i class="ni ni-glasses-2 text-warning"> </i>
              </div>
              <h5 class="info-title text-white">Super Fresh</h5>
              <p class="description">
                Thoughts- their perception of themselves! They're slowed
                down by their perception of themselves.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="info text-left bg-success shadow">
              <div
                class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <i class="ni ni-notification-70 text-success"> </i>
              </div>
              <h5 class="info-title text-white">Organized Content</h5>
              <p class="description">
                If you're taught you can't do anything, you won't do
                anything. I was taught I could do everything.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-home-p2></app-home-p2>


<div class="cd-section" id="accordion">
  <div class="accordion-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center pt-0">
          <h2 class="title mb-1 mt-5">Frequently asked question</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button
                    aria-controls="collapseOne"
                    class="btn btn-link w-100 text-primary text-left"
                    [attr.aria-expanded]="!isCollapsed"
                    (click)="isCollapsed = !isCollapsed"
                    id="collapseOne"
                    type="button"
                  >
                    How do I order?
                    <i class="ni ni-bold-down float-right pt-1"> </i>
                  </button>
                </h5>
              </div>
              <div
                aria-labelledby="headingOne"
                class="show"
                data-parent="#accordionExample"
                [isAnimated]="true"
                [collapse]="isCollapsed"
                id="collapseOne"
              >
                <div class="card-body opacity-8">
                  Anim pariatur cliche reprehenderit, enim eiusmod high
                  life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                  wolf moon tempor, sunt aliqua put a bird on it squid
                  single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes
                  anderson cred nesciunt sapiente ea proident. Ad vegan
                  excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt
                  you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button
                    aria-controls="collapseTwo"
                    class="btn btn-link w-100 text-primary text-left collapsed"
                    [attr.aria-expanded]="!isCollapsed1"
                    (click)="isCollapsed1 = !isCollapsed1"
                    id="collapseTwo"
                    type="button"
                  >
                    How can i make the payment?
                    <i class="ni ni-bold-down float-right pt-1"> </i>
                  </button>
                </h5>
              </div>
              <div
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
                [isAnimated]="true"
                [collapse]="isCollapsed1"
                id="collapseTwo"
              >
                <div class="card-body opacity-8">
                  Anim pariatur cliche reprehenderit, enim eiusmod high
                  life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                  wolf moon tempor, sunt aliqua put a bird on it squid
                  single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes
                  anderson cred nesciunt sapiente ea proident. Ad vegan
                  excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt
                  you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button
                    aria-controls="collapseThree"
                    class="btn btn-link w-100 text-primary text-left collapsed"
                    [attr.aria-expanded]="!isCollapsed2"
                    (click)="isCollapsed2 = !isCollapsed2"
                    id="collapseThree"
                    type="button"
                  >
                    How much time does it take to receive the order?
                    <i class="ni ni-bold-down float-right pt-1"> </i>
                  </button>
                </h5>
              </div>
              <div
                aria-labelledby="headingThree"
                data-parent="#accordionExample"
                [isAnimated]="true"
                [collapse]="isCollapsed2"
                id="collapseThree"
              >
                <div class="card-body opacity-8">
                  Anim pariatur cliche reprehenderit, enim eiusmod high
                  life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                  wolf moon tempor, sunt aliqua put a bird on it squid
                  single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes
                  anderson cred nesciunt sapiente ea proident. Ad vegan
                  excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt
                  you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button
                    aria-controls="collapseFour"
                    class="btn btn-link w-100 text-primary text-left"
                    [attr.aria-expanded]="!isCollapsed3"
                    (click)="isCollapsed3 = !isCollapsed3"
                    id="collapseFour"
                    type="button"
                  >
                    Can I resell the products?
                    <i class="ni ni-bold-down float-right pt-1"> </i>
                  </button>
                </h5>
              </div>
              <div
                aria-labelledby="headingFour"
                data-parent="#accordionExample"
                [isAnimated]="true"
                [collapse]="isCollapsed3"
                id="collapseFour"
              >
                <div class="card-body opacity-8">
                  Anim pariatur cliche reprehenderit, enim eiusmod high
                  life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                  wolf moon tempor, sunt aliqua put a bird on it squid
                  single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes
                  anderson cred nesciunt sapiente ea proident. Ad vegan
                  excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt
                  you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFifth">
                <h5 class="mb-0">
                  <button
                    aria-controls="collapseFifth"
                    class="btn btn-link w-100 text-primary text-left"
                    [attr.aria-expanded]="!isCollapsed4"
                    (click)="isCollapsed4 = !isCollapsed4"
                    id="collapseFifth"
                    type="button"
                  >
                    Where do I find the shipping details?
                    <i class="ni ni-bold-down float-right pt-1"> </i>
                  </button>
                </h5>
              </div>
              <div
                aria-labelledby="headingFifth"
                data-parent="#accordionExample"
                [isAnimated]="true"
                [collapse]="isCollapsed4"
                id="collapseFifth"
              >
                <div class="card-body opacity-8">
                  Anim pariatur cliche reprehenderit, enim eiusmod high
                  life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch.
                  Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                  wolf moon tempor, sunt aliqua put a bird on it squid
                  single-origin coffee nulla assumenda shoreditch et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes
                  anderson cred nesciunt sapiente ea proident. Ad vegan
                  excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt
                  you probably haven't heard of them accusamus labore
                  sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




