
    <!-- <div class="col-md-2">
        <div class="card card-blog">
            <div class="card-header bg-primary"  data-header="skew">
                <div class="card-image">
                    <img class="img rounded" src="assets/img/ill/p22.png" />
                </div>
            </div>
            <div class="card-body">
                <div class="my-btn-line">
                    <button class="btn btn-icon btn-3 btn-primary" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                        <span class="btn-inner--text">Add New Job</span>
                    </button>
                </div>
                
                <hr class="my-line">

                <div>
                    <span class="text-default mb-4">
                        Job status
                    </span>
                    <br/>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">active</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">published</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">closed</label>
                    </div>
                </div>

                <div>
                    <span class="text-default mb-4">
                    Department
                    </span>
                    <select class="form-control form-control-sm">
                        <option>select department</option>
                    </select>
                </div>

                <div>
                    <span class="text-default mb-4">
                    Location
                    </span>
                    <select class="form-control form-control-sm">
                        <option>select Location</option>
                    </select>
                </div>
            </div>
        </div>
    </div> -->
<!-- 
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Jobs</li>   
            </ol>
        </nav>

        <div class="card job-card">
            <div class="card-body">
                <div class="row">
                    <h6 class="card-category">
                        <i class="ni ni-tag col-md-1"></i>
                    </h6>
                    <div id="bootstrap-switch-component" class="tab-pane tab-example-result fade show active col-md-2" role="tabpanel" aria-labelledby="bootstrap-switch-component-tab">
                        <label class="custom-toggle">
                        <input type="checkbox" checked="" />
                        <span class="custom-toggle-slider rounded-circle" data-label-off="OFF" data-label-on="ON"></span>
                        </label>
                    </div>
                </div>

                <h2 class="card-title">Job title</h2>
                <h5 class="card-subtitle mb-2 text-muted">job department - skills - location </h5>
                
                <div class="table-responsive">
                    <table class="table table-borderless mb-3 table-sm">
                      <thead>
                        <tr>
                          <th scope="col" class="form-label">Number of candidates applied</th>
                          <th scope="col" class="form-label">Job ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><h3>80</h3></td> 
                          <td><h3>88160</h3></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  

                <div class="card-footer d-flex justify-content-end align-items-center">
                    <button class="btn btn-icon btn-sm btn-primary ml-auto" type="button">
                        <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                        <span class="btn-inner--text">Publish</span>
                    </button>
                </div>

            </div>
        </div>
         
          
    </div> -->
   
    






<!-- <div class="cd-section" id="projects">
    <div class="project-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mr-auto ml-auto text-center mb-5">
            <h3 class="diaplay-3">Some of Our Awesome Projects</h3>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-transparent mb-5">
        <div class="container">
          <div class="navbar-translate"><p>52 projects found</p></div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="ni ni-basket d-inline text-info mr-1"> </i>
                  <p class="d-inline">H-23</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link btn-sm"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="ni ni-settings-gear-65"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:;">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:;">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:;">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:;">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/slack.png"
                    style="width: 100px;"
                  />
                </a>
                <h4 class="card-title mt-3 mb-0">Slack</h4>
                <p class="card-description">
                  We are happy to work at such a great project.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-lg rounded-circle shadow"
                    href="javascript:;"
                    tooltip="Ryan Thomson"
                  >
                    <img
                      alt="Image placeholder"
                      src="assets/img/faces/team-1.jpg"
                    />
                  </a>
                  <a
                    class="avatar avatar-lg rounded-circle shadow"
                    href="javascript:;"

                    tooltip="Romina Hadid"
                  >
                    <img
                      alt="Image placeholder"
                      src="assets/img/faces/team-2.jpg"
                    />
                  </a>
                  <a
                    class="avatar avatar-lg rounded-circle shadow"
                    href="javascript:;"
                    tooltip="Alexander Smith"
                  >
                    <img
                      alt="Image placeholder"
                      src="assets/img/faces/team-3.jpg"
                    />
                  </a>
                  <a
                    class="avatar avatar-lg rounded-circle shadow"
                    href="javascript:;"
                    tooltip="Jessica Doe"
                  >
                    <img
                      alt="Image placeholder"
                      src="assets/img//faces/team-4.jpg"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="mt-5">
           <pagination
            class="float-left"
            [(ngModel)]="page"
            previousText="&lsaquo;" nextText="&rsaquo;"
            [totalItems]="50"
          >
          </pagination>
          <div class="text-right">
            <p>Showing 6 out of 36</p>
            <div></div>
          </div>
        </footer>
      </div>
    </div>
</div> -->

<app-banner
  [title]="bannerTitle"
  [subtitle]="bannerSubtitle"
></app-banner>


<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 order-md-1 order-1 mt-8 ml-4 mr-4">
        <!-- Filter Sidebar Code Goes Here -->
        
            <div class="card card-blog">
                <div class="card-header bg-primary"  data-header="skew">
                    <div class="card-image">
                        <img class="img rounded" src="assets/img/ill/p22.png" />
                    </div>
                </div>
                <div class="card-body">
                  <!-- <app-add-job-form></app-add-job-form> -->
                    
                    <hr class="my-line">
    
                    <div>
                        <span class="text-default mb-4">
                            Job status
                        </span>
                        <br/>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio1">active</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">published</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3 ">closed</label>
                        </div>
                    </div>
    
                    <div>
                        <span class="text-default mb-4">
                        Department
                        </span>
                        <select class="form-control form-control-sm">
                            <option>select department</option>
                        </select>
                    </div>
    
                    <div>
                        <span class="text-default mb-4">
                        Location
                        </span>
                        <select class="form-control form-control-sm">
                            <option>select Location</option>
                        </select>
                    </div>
                </div>
            </div>
        
      </div>
      <div class="col-md-9 order-md-2 order-2">
        <!-- Main Card Presentation Code Goes Here -->
        <div class="cd-section" id="projects">
            <div class="project-1">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 mr-auto ml-auto text-center mb-4">
                    <h1 class="mt-4 diaplay-3">Job Listing</h1>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6" *ngFor="let item of [1, 2, 3, 4, 5]; let i = index">
                    <div class="card">
                      <div class="card-header mt-2">
                        <div class="float-left">
                          <i class="ni ni-building d-inline text-info mr-1"> </i>
                          <p class="d-inline">department</p>
                        </div>
                        <div class="float-right">
                          <div class="dropdown" dropdown>
                            <button
                              aria-expanded="false"
                              class="btn btn-link btn-sm"
                              data-toggle="dropdown"
                              dropdownToggle
                              type="button"
                            >
                              <i class="ni ni-bullet-list-67"> </i>
                            </button>
                            <div
                              class="dropdown-menu dropdown-menu-right"
                              *dropdownMenu
                              x-placement="bottom-end"
                            >
                              <a class="dropdown-item" href="javascript:;">
                                Edit
                              </a>
                              <a class="dropdown-item" href="javascript:;">
                                Remove
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body text-center p-4">
                        <a href="javascript:;">
                          <img
                            alt="Circle image"
                            class="img-fluid rounded-circle shadow"
                            src="assets/img/slack.png"
                            style="width: 100px;"
                          />
                        </a>
                        <h4 class="card-title mt-3 mb-0">Job Title</h4>
                        <h5 class="card-subtitle mb-2 text-muted">location<br/>Liste of Skills </h5>
                        <p class="card-description">
                          We are happy to Start this opportunity.
                        </p>
                        <h5 class="card-title mt-4">candidates</h5>
                        <div class="avatar-group">
                          <a
                            class="avatar avatar-lg rounded-circle shadow"
                            href="javascript:;"
                            tooltip="Ryan Thomson"
                          >
                            <img
                              alt="Image placeholder"
                              src="assets/img/faces/team-1.jpg"
                            />
                          </a>
                          <a
                            class="avatar avatar-lg rounded-circle shadow"
                            href="javascript:;"
        
                            tooltip="Romina Hadid"
                          >
                            <img
                              alt="Image placeholder"
                              src="assets/img/faces/team-2.jpg"
                            />
                          </a>
                          <a
                            class="avatar avatar-lg rounded-circle shadow"
                            href="javascript:;"
                            tooltip="Alexander Smith"
                          >
                            <img
                              alt="Image placeholder"
                              src="assets/img/faces/team-3.jpg"
                            />
                          </a>
                          <a
                            class="avatar avatar-lg rounded-circle shadow"
                            href="javascript:;"
                            tooltip="Jessica Doe"
                          >
                            <img
                              alt="Image placeholder"
                              src="assets/img/placeholder.jpg"
                            />
                          </a>
                        </div>

                        <div class="card-footer d-flex justify-content-end align-items-center mt-3">
                          <button class="btn btn-icon btn-sm btn-primary ml-auto" type="button" routerLink="/candidate-list">
                            <span class="btn-inner--icon"><i class="ni ni-briefcase-24"></i></span>
                          </button>
                          <button class="btn btn-icon btn-sm btn-primary ml-1" type="button">
                            <span class="btn-inner--icon"><i class="ni ni-bag-17"></i></span>
                            <span class="btn-inner--text">Publish</span>
                          </button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="mt-5">
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" href="javascript:void(0)" (click)="previousPage()">
                          <i class="fa fa-angle-left"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item" [class.active]="currentPage === 1">
                        <a class="page-link" href="javascript:void(0)" (click)="changePage(1)">1</a>
                      </li>
                      <li class="page-item" [class.active]="currentPage === 2">
                        <a class="page-link" href="javascript:void(0)" (click)="changePage(2)">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item" [class.active]="currentPage === 3">
                        <a class="page-link" href="javascript:void(0)" (click)="changePage(3)">3</a>
                      </li>
                      <li class="page-item" [class.disabled]="currentPage === 3">
                        <a class="page-link" href="javascript:void(0)" (click)="nextPage()">
                          <i class="fa fa-angle-right"></i>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <div class="text-right">
                    <p>Showing {{ (currentPage - 1) * 6 + 1 }} out of 36</p>
                  </div>
                </footer>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>




  
  